/*
Pronatec 19/04/2017

*/

body {
  background-image: url("hogwarts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#titulo {
  font-size: 300%;
  width: 200px;
  margin: 0 auto;
  color: lightblue;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;

}

#casas_hogwarts {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
 }

#lista_casas {
  background-color: rgba(25, 18, 65, 0.85);
  width: 200px;
  margin: 0 auto;
  padding: 20px 0px;
  font-size: 175%;
  position: absolute;
  right: 20px;
}

#lista_casas li {
  width: 130px;
  margin: 0 auto;
  border-bottom: 1px;
  border-bottom-style: dashed;

}

#lista_casas li::after {
  content: ";";
}

#lista_casas li:last-child::after {
  content: ".";
}


.sem_bolinhas {
  list-style: none;
}

blockquote::before {
  content: "\"";
}

blockquote::after {
  content: "\" (" attr(cite) ")";
  font-style: italic;
}

.sonserina {
  color: darkolivegreen;
}

.grifinoria {
  color: red;
}

.lufalufa {
  color: orchid;
}

.corvinal {
  color: pink;
}

#lista_casas li:hover {
  background-color: white;
}

a:link {
  color: inherit;
  text-decoration: none;
  /*cursor: default;*/
}

a:visited {
  color: inherit;
}

#dumbledore {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -201px;
}
